@import "../mixins";

.page-main {
  margin: 50px 40px 78px;
}

.page-main__product-list {
  @include list-none();

  display: grid;
  justify-content: center;
  grid-template: repeat(2, 403px) / repeat(4, 200px);
  gap: 50px 48px;
}
